Makefile.in
Makefile
*/Makefile.in
*/Makefile
*/*/Makefile.in
*/*/Makefile
autom4te.cache
aclocal.m4
config.*
configure
*~
compile
depcomp
libtool
ltmain.sh
install-sh
m4
missing
libasn1c.pc
*.o
*.lo
*.la
*.pc
.deps
.libs
.version
include/osmocom/tcap/version.h

#tests
tests/*/*_test

tests/atconfig
tests/package.m4
tests/testsuite
tests/testsuite.log
